* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gabarito', sans-serif;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title{
    color: #a435f0;
}

.navbar__s2{
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    width: 60%;
    display:flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input{
    border: none;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
}

.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}

/*My learning popup*/
.mylearning{
    position: relative;
    cursor: pointer;
}

.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    padding: 20px;
    top: 150%;
    right: 0;
    display: none;
}

.mylearning:hover .mylearning__popup{
    display: block;
}

.categories{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid black;
    justify-content: space-around;
}

.categories p{
    background-color: #a435f0;
    color: white;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
     border: solid 1px #a435f0;
}

.categories p:hover{
    transition: 1px;
    background-color: transparent;
    color: black;
    border: solid 1px #a435f0;
}

.sale-image{
    position: relative;
}

.sale-image img{
    width: 100%;
}

.sale-image__offer{
    width: 35%;
    border: 2px solid black;
    background-color: white;
    padding: 2%;
    position: absolute;
    top: 10%;
    left: 10%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.recommended{
    padding: 10px;
}

.recommended__container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}

.course-card {
    width: 350px;
}

.course-card img{
    width: 100%;
    height: 50%;
}

.topics{
    padding: 10px;
}

.topics__container{
    display: flex;
    margin-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
}

.topics__container p{
    border: gray 2px solid;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular__container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}

.popular{
    padding: 10px;
}

.footer{
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one{
    display: flex;
}

.footer__two{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.footer__one p{
    margin: 30px;
}
