* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gabarito', sans-serif;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
}

.navbar__s1__title{
    color: #a435f0;
}

.navbar__s2{
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    width: 60%;
    display:flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input{
    border: none;
    font-size: 16px;
    width: 100%;
}

.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}

.categories{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid black;
    justify-content: space-around;
}

.categories p{
    background-color: #a435f0;
    color: white;
    border-radius: 30px;
    padding: 10px;
}

.sale-image img{
    width: 100%;
}

.recommended{
    padding: 10px;
}

.recommended__container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}

.course-card {
    width: 350px;
}

.course-card img{
    width: 100%;
    height: 50%;
}

.topics{
    padding: 10px;
}

.topics__container{
    display: flex;
    margin-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
}

.topics__container p{
    border: gray 2px solid;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular__container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}

.popular{
    padding: 10px;
}

.footer{
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one{
    display: flex;
}

.footer__two{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.footer__one p{
    margin: 30px;
}
